
body{
    direction: rtl;
}

.green_container{
    background-color: #14C5A4;
    height: 91vh;
    width: 63%;
    border-radius: 0px 0px 0px 1373px;

    @media (max-width: 1600px) {
        height: 100vh;
        width: 65%;
        border-radius: 0px 0px 0px 747px;
    }
}

.logo{
    width: 35%;
    margin-inline-start: 23%;
    margin-block-start: 11%;

    @media (max-width: 1600px) {
        width: 35%;
        margin-inline-start: 19%;
    }

}

.main-text{
    width: 35%;
    margin-inline-start: 27%;
    margin-top: -22px;
    color: #FFF;
    font-family: Noto Kufi Arabic;
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.333px;

    @media (max-width: 1600px) {
        margin-inline-start: 15.5%;
        font-size: 60px;
    }
}

.page_2-button-1{
    margin-top: 53vh;
    margin-right: -94px;
    margin-left: unset;

    @media (max-width: 1600px) {
        margin-right: -56px;
    }
}

.page_2-button-2{
    margin-left: unset;
    margin-right: -94px;
    margin-top: 23px;

    @media (max-width: 1600px) {
        margin-right: -56px;
    }
}

