

.green_container{
    background-color: #14C5A4;
    height: 100vh;
}

.logo{

    margin-block-start: 15%;
    width: 700px;
    height: 700px;
    margin-left: 35%;

    &.page-5{
        width: 500px;
        height: 500px;
        margin-left: 39.6%;
    }

}


.main-text{
    color: #FFF;
    font-family: Changa;
    font-size: 105px;
    font-style: normal;
    font-weight: 500;
    line-height: 130px;
    margin-left: 38%;

    &.page-4{
        margin-left: 34%;
    }
}