


.green_container{
    border-radius: 0px 0px 677.5px 0px;
    background: #14C5A4;
    height: 92vh;
    width: 100%;
    direction: rtl;

    @media (max-width: 1600px) {
        height: 100vh;
        border-radius: 0px 0px 451px 0px;  
        flex-direction: column;
    }
}

.main-container{
    padding-inline-start: 34.5%;
    padding-block-start: 10%;

    @media (max-width: 1600px) {
        padding-block-start: 1%;
    }

    @media (max-width: 1300px) {
        padding-block-start: 5%;
    }
}

.main-text{
    color: #FFF;
    font-family: Changa;
    font-size: 115px;
    font-style: normal;
    font-weight: 500;
    line-height: 130px; /* 136.842% */
    padding-block-end: 6%;

    @media (max-width: 1600px) {
        font-size: 69px;
        margin: 0;
        padding-bottom: 15px;
    }
   
}

.barcode-container{
    height: 746px;
    width: 746px;
    margin-inline-start: -20px;
    background-color: #FFF;
    border-radius: 30px;
    justify-content: center;
    align-items: center;

    @media (max-width: 1600px) {
        height: 400px;
        width: 400px;
        margin-inline-start: 9px;
    }

}

.barcode-style{
    width: 650px;
    height: 650px;

    @media (max-width: 1600px) {
        width: 350px;
        height: 350px;
    }
}
